<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success btn-circle" [routerLink]="['delivery']">1</button>
            <p>Lieferung</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" [routerLink]="['payment']">2</button>
            <p>Bezahlung</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
            <p>Bestätigung</p>
        </div>
    </div>
</div>
<br/>
<hr>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-credit-card-alt"></i> Bezahlung</h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-sx-1 col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Produkt</th>
                                <th>Zahlungsmethode</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of paymentList">
                                <td class="col-sx-6 col-md-6">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="assets/images/ng2.jpg" style="width: 100px; height: 72px; margin:15px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a *ngIf="article.articleTitle !== undefined">{{payment.method}}</a></h4>
                                        <h5 class="media-heading" *ngIf="article.supplierName !== undefined"> von <a>Verkäufer: {{article.supplierName}}</a></h5>
                                        <span>Status: </span><span class="text-success" *ngIf="article.articleStock > 0"><strong>Auf Lager</strong></span>
                                        <span class="text-success" *ngIf="article.articleStock == 0"><strong>Nicht auf Lager</strong></span>
                                    </div>
                                </td>
                                <td class="col-sx-1 col-sm-1 col-md-1" style="text-align: center">
                                    <input type="number" [(ngModel)]="article.quantity" (change)="recalc()" value="3" min="1" required>
                                </td>

                                <td class="col-sx-1 col-sm-1 col-md-1 text-center" *ngIf="article.articlePrice > 0"><strong>{{article.articlePrice}} €</strong></td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <div class="">
                                    <button type="button" class="btn btn-info pull-right btn-lg" [routerLink]="['confirmation']">Weiter <span class="fa fa-arrow-right"></span></button>
                                    <button type="reset" value="Reset" name="reset" class="btn btn-lg" [routerLink]="['delivery']"><span class="fa fa-arrow-left"></span>Zurück</button>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="panel-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form (ngSubmit)="onCompletePayment()" #loginForm="ngForm">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="username" [(ngModel)]="username" placeholder="Nutzername" class="form-control input-lg" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="firstname" [(ngModel)]="firstname" placeholder="Vorname" class="form-control input-lg" required>
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-info pull-right btn-lg" [routerLink]="['../confirmation']">Weiter... <span class="fa fa-arrow-right"></span></button>
                        <button type="reset" value="Reset" name="reset" class="btn btn-lg" [routerLink]="['../delivery']"><span class="fa fa-arrow-left"></span> Zurück</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>-->
</div>
