<nav id="headernavbar" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngFor="let route of routes"><a [routerLink]="[route.path]">{{route.name}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-center" style="margin-top: 5px;">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <span class="input-group-btn">
                                  <input type="text" class="form-control" placeholder="Artikel suchen" />
                                </span>
                                <span class="input-group-btn verticalLine">
                                  <input type="text" class="form-control" placeholder="Umkreis" style="width:100px;" />
                                </span>
                                <span class="input-group-btn">
                                  <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search"></i>
                                  </button>
                                </span>
                            </div>
                        </div>
                        <!--<input type="text" class="form-control" placeholder="Anzeige finden" style="max-width:200px;">-->
                        <!--<input type="text" class="form-control" placeholder="Umkreis (km)" style="max-width:100px;">-->
                    </div>
                    <!--<button type="submit" class="btn btn-default">Suche starten</button>-->
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-top: -6px;">
                  <a [routerLink]="['/shoppingcart']"><i class="fa fa-shopping-cart fa-2x"><span class="badge">1</span></i></a>
                </li>
                <li style="margin-top: -6px;">
                    <a href="#helpFAQ" role="button" data-toggle="modal"><i class="fa fa-question-circle fa-2x"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aktionsmenü<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="height:30px; margin:15px;"><a [routerLink]="['/profile']"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
                        <li><a [routerLink]="['/insertArticle']"><i class="fa fa-paper-plane" aria-hidden="true"></i> Inserat erstellen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Einstellungen</a></li>
                    </ul>
                </li>
                <li *ngFor="let routeright of routesright"><a [routerLink]="[routeright.path]">{{routeright.name}}</a></li>
            </ul>
        </div>
    </div>
</nav>



<!--
• Home
--Suchmaske nach Begriff, Kategorie, Umkreis
--Erklärung des Services (Wer, Wie, Was)
• Suchergebnis Übersicht
--Liste der Inserate (ggf. Map)
--Filter (Umkreis, Kategorie, Begriffe)
• Suchergebnis Detail
--Map
--Anbieter
--Kategorie, Beschreibung, Foto / Icon
--Details (Preisvorstellung, Menge ...)
--Anfrage stellen
• Registrierung / Login
--Käufer
--Verkäufer
• Profil
--Inserat erstellen (Verkäufer)
--Dashboard Übersicht
--Einstellungen (Passwort ändern, Zurücksetzen, Eigene Details)
• Diverse Unterseiten
--Kontakt
--Impressum
--Über uns
-->
